body {
    font-family: 'Montserrat', sans-serif;
    background: black;
    color: white;
    display: grid;
    justify-content: center;
    /* background-image: url("neon-city.gif"); */
}

.title {
    font-size: 4em;
    background: -webkit-linear-gradient(45deg, lime, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    position: absolute;
    bottom: 1.5em;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

a {
    color: lime;
}

a:hover {
    color: yellow;
}